<nav class="sidebar">
    <ul>
      <li>
        <button (click)="navigateTo('/create-room')">
          <i class="fas fa-plus-square"></i> Create Room
        </button>
      </li>
      <!-- <li>
        <button (click)="navigateTo('/view-all-booking')">
          <i class="fas fa-list-alt"></i> View All Booking
        </button>
      </li> -->
      <li>
        <button (click)="navigateTo('/view-booking')">
          <i class="fas fa-list-alt"></i> View Booking by ID
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/update-booking')">
          <i class="fas fa-edit"></i> Update Booking by ID
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/update-room-status')">
          <i class="fas fa-sync-alt"></i> Update Room Status by ID
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/delete-booking')">
          <i class="fas fa-trash-alt"></i> Delete Booking
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/about-staff')">
          <i class="fas fa-info-circle"></i> About
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/staff-logout')">
          <i class="fas fa-sign-out-alt"></i> Log Out
        </button>
      </li>
    </ul>
  </nav>