<nav class="sidebar">
    <ul>
      <!-- <li>
        <button (click)="navigateTo('/cust-view-rooms')">
          <i class="fas fa-bed"></i> View Rooms
        </button>
      </li> -->
      <li>
        <button (click)="navigateTo('/room-price')">
          <i class="fas fa-calendar-alt"></i> Check Price
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/create-booking')">
          <i class="fas fa-calendar-alt"></i> Book Rooms
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/about-cust')">
          <i class="fas fa-envelope"></i> About
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/cust-logout')">
          <i class="fas fa-info-circle"></i> Logout
        </button>
      </li>
    </ul>
  </nav>