<app-sidebar></app-sidebar>
<div class="about-container">
    <h1>About the Hotel Reservation System</h1>
    <p>
      As a customer, logging into the Hotel Reservation System opens the gateway to a personalized and hassle-free booking experience. With just your email and password, you can:
    </p>
    <ul>
      <li>
        <strong>Explore Options:</strong> Create bookings effortlessly using our user-friendly pages by selecting your planned dates of stay and the number of guests.
      </li>
      <li>
        <strong>Customize Your Stay:</strong> Enhance your booking by adding optional services like meals.
      </li>
      <li>
        <strong>Secure Your Booking:</strong> Quickly confirm your reservation through a secure payment interface and receive a detailed email confirmation.
      </li>
    </ul>
    <p>
      The intuitive design ensures that even first-time users can navigate effortlessly, making your journey from browsing to booking as smooth as possible.
    </p>
    <p>
      Happy booking!
    </p>
  </div>